* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Press Start 2P", cursive;
    background: linear-gradient(358deg, #246655, #012c3c);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
}
@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
/* ================================================================= */
/* Header */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    text-align: center;
    margin-top: 2%;
}

.mainLogo {
    margin: auto;
    width: 40%;
}







#btn-reset{
    height: 40px;
    width: 40px;
    background-color: yellow;
    margin: 0.02rem;
    padding: 0.3rem;
    border-radius: 50px;
}

#btn-home{
    height: 40px;
    width: 40px;
    background-color: red;
    margin: 0.02rem;
    padding: 0.3rem;
    border-radius: 50px;
}

/* ================================================================= */
/* Main */

.main {
    display: flex;
    flex-direction: column;
    background-image: url(/media/941898.jpg);
    background-position: center center;
    background-size: cover;
    border-radius:20px;
    height: 50vw;
}

/* Terminal windows (History) */

.windows-desktop{
    display: none;
    justify-content:center;
    flex-direction: column;
    border: 1px solid #000;
    border-radius:20px;
    background-image: url(/media/941898.jpg);
    background-position: center center;
    background-size: cover;
    width: auto;
    height: 50vw;
}

.terminal-screen{
    display: flex;
    justify-content:center;
    flex-direction: column;
    margin: 5rem;
    padding: 12rem;
}

.terminal-header{
    display: flex;
    justify-content:flex-start;
    border: 1px solid #000;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: lightgray;
    margin:0.02rem;
    padding: 0.3rem;
    width: 45vw;
}

.terminal-content{
    display: flex;
    justify-content:flex-start;
    border: 1px solid #000;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #e8f1f2;
    margin: 0.02rem;
    padding:0.3rem;
    width:45vw;
    height:25vw;
}

/* Registration windows (User info) */

.registration-screen{
    display:none;
    justify-content:center;
    flex-direction: column;
    border: 1px solid #000;
    background-color: rgb(224, 87, 87);
    border-radius:20px;
    width: auto;
    height: 50vw;
    padding:12rem;
    margin:5rem;
}

/* Game window (playable area) */

.game-screen{
    display:none;
    justify-content:center;
    flex-direction: column;
    border: 1px solid #000;
    border-radius:20px;
    width: auto;
    height: 48vw;
}

.game-area{
    display:flex;
    justify-content:center;
    flex-direction: column;
    border: 1px solid #000;
    border-radius:20px;
    width: auto;
    height: 48vw;
}

/* Win Window (if the player win) */

.win-screen{
    display: none;
    justify-content:center;
    flex-direction: column;
    border: 1px solid #000;
    border-radius:20px;
    background-color: rgb(133, 192, 189);
    width: auto;
    height: 50vw;
    padding:12rem;
    margin:5rem;
}

/* Lose Window (if the player lose) */

.lose-screen{
    display: flex;
    justify-content:center;
    flex-direction: column;
    border: 1px solid #000;
    border-radius:20px;
    background-color: rgb(196, 109, 109);
    width: auto;
    height: 50vw;
    padding:12rem;
    margin:5rem;
}

/* ================================================================= */
/* Footer */

.footer{
    display: flex;
    justify-content: space-between;
    border: 1px solid #000;
    border-radius:20px;
    background-color: #e8f1f2;;
    margin: 5rem;
    padding: 1.5rem;
}

.live-data{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    border: 1px solid #000;
    border-radius:20px;
    margin: 20px;
    padding: 20px;
}

.ranking{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 1px solid #000;
    border-radius:20px;
    margin: 20px;
    padding: 20px;
}