* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Press Start 2P", cursive;
  background-image: url(https://i.gifer.com/xK.gif);
  background-size: contain;
}

/* ================================================================= */
/* Header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  text-align: center;
  margin-top: 1%;
}

.mainLogo {
  margin: auto;
  width: 30%;
}

#btn-reset {
  height: 40px;
  width: 40px;
  background-color: yellow;
  margin: 0.02rem;
  padding: 0.3rem;
  border-radius: 50px;
}

#btn-home {
  height: 40px;
  width: 40px;
  background-color: red;
  margin: 0.02rem;
  padding: 0.3rem;
  border-radius: 50px;
}

/* ================================================================= */
/* Main */

.main {
  display: flex;
  flex-direction: column;
  background-image: url(/media/1j6F_morado.gif);
  background-position: center;
  background-size: auto;
  border-radius: 20px;
  width: 90%;
  margin: auto;
  background-repeat: round;
  border: solid 11px #313062;
  border-style: double;
}

/* Terminal windows (History) */

.windows-desktop {
  display: none;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #000;
  border-radius: 20px;
  background-position: center center;
  background-size: cover;
  width: auto;
}

.terminal-screen {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 5rem;
  padding: 12rem;
}

.terminal-header {
  display: flex;
  justify-content: flex-start;
  border: 1px solid #000;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: lightgray;
  margin: 0.02rem;
  padding: 0.3rem;
  width: 45vw;
}

.terminal-content {
  display: flex;
  justify-content: flex-start;
  border: 1px solid #000;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #e8f1f2;
  margin: 0.02rem;
  padding: 0.3rem;
  width: 45vw;
  height: 25vw;
}

/* Registration windows (User info) */

.registration-screen {
  display: none;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #000;
  background-color: rgb(224, 87, 87);
  border-radius: 20px;
  width: auto;
  height: 50vw;
  padding: 12rem;
  margin: 5rem;
}

/* Game window (playable area) */

.game-area {
  display: flex;
  position: relative;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #000;
  border-radius: 20px;
  width: auto;
  height: 48vw;
}

.timer {
  position: absolute;
  top: 43%;
  right: 43%;
  color: rgba(255, 255, 255, 0.5);
  font-size: 6vw;
}

#virus-image {
  height: 15vw;
}

#virus-image:hover {
  cursor: pointer;
}

/* Win Window (if the player win) */

.win-screen {
  display: none;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #000;
  border-radius: 20px;
  background-color: rgb(133, 192, 189);
  width: auto;
  padding: 12rem;
  margin: 5rem;
}

/* Lose Window (if the player lose) */

.lose-screen {
  display: none;
  justify-content: center;
  flex-direction: column;
  border-radius: 20px;
  width: auto;
  padding: 4rem;
  margin: 40px;
  box-sizing: border-box;
  height: 100%;
  background-color: rgb(0 0 0);
  background-image: radial-gradient(rgb(18 27 40 / 91%), rgb(2, 9, 3)),
    url(https://media.giphy.com/media/oEI9uBYSzLpBK/giphy.gif);
  background-size: contain;
  font-family: Inconsolata, Helvetica, sans-serif;
  font-size: 1.5rem;
  color: rgb(255 255 255 / 80%);
  text-shadow: rgb(51 206 255) 0px 0px 1ex, rgb(255 255 255 / 80%) 0px 0px 2px;
  border-width: 2px;
  border-style: inherit;
  border-color: #47334f;
}

/* ================================================================= */
/* Footer */

.footer {
  display: flex;
  border: 7px #313062;
  border-radius: 20px;
  background-color: #313062;
  margin: 10px auto;
  padding: 0.5rem;
  width: 90%;
  color: aliceblue;
  border-style: ridge;
  align-items: center;
  justify-content: center;
}

.live-data {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  border: 1px solid #000;
  border-radius: 20px;
  margin: 20px;
  padding: 20px;
}

.ranking {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 1px solid #000;
  border-radius: 20px;
  margin: 20px;
  padding: 20px;
}
